#Terraform
IaC/.terraform/
IaC/*.tfstate
IaC/*.tfstate.*
IaC/crash.log
IaC/*.tfvars
IaC/override.tf
IaC/override.tf.json
IaC/*_override.tf
IaC/*_override.tf.json
IaC/.terraform.lock.hcl


# Ignore files and folders for front-user project
front-user/node_modules/
front-user/**/bin/
front-user/**/obj/
front-user/**/*.user
front-user/**/*.suo
front-user/**/*.userosscache
front-user/**/*.sln.docstates
front-user/.vs/
front-user/TestResults/
front-user/node_modules/
front-user/dist/
front-user/package-lock.json
front-user/.env
front-user/.env.*
front-user/.DS_Store
front-user/npm-debug.log*
front-user/yarn-debug.log*  
front-user/yarn-error.log*
front-user/pnpm-debug.log*
front-user/.eslintcache



# Ignore files and folders for .NET/Visual Studio build and configuration for ChallengeBack
ChallengeBack/ChallengeBack/bin/
ChallengeBack/ChallengeBack/obj/
ChallengeBack/ChallengeBack/*.user
ChallengeBack/ChallengeBack/*.suo
ChallengeBack/.vs/
ChallengeBack/.vscode/
ChallengeBack/Domain/bin/
ChallengeBack/Domain/obj/
ChallengeBack/RepositorySQL/bin/
ChallengeBack/RepositorySQL/obj/
ChallengeBack/ChallengeBack/*.log
ChallengeBack/ChallengeBack/Properties/launchSettings.json
ChallengeBack/ChallengeBack/.DS_Store
ChallengeBack/ChallengeBack/Thumbs.db
ChallengeBack/ChallengeBack/ScaffoldingReadMe.txt