version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_API_URL: http://localhost:8080
    image: test-mouts-front:v2.0
    ports:
      - "5173:80"
